
<div class="page-header">
	<h1>
		<a href="/">Planeta Raton</a> <small>Todo lo que tenes que saber antes de tu viaje a Orlando</small>
	</h1>
</div>
<div class="menu-header collapse navbar-collapse bs-navbar-collapse" role="navigation">
	<ul class="menu nav navbar-nav">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				Hoteles <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li><a href="/hoteles/categoria/economicos">Económicos</a></li>
				<li><a href="/hoteles/categoria/moderados">Moderados</a></li>
				<li><a href="/hoteles/categoria/lujosos">Lujosos</a></li>
				<li class="disabled"><a href="/hoteles/categoria/villa-de-lujo">Villa de lujo</a></li>
				<li class="divider"></li>
				<li><a href="/hoteles">Todos</a></li>
			</ul>
		</li>
		<li class="disabled"><a href="#">Parques</a></li>
		<li class="disabled"><a href="#">Donde comprar</a></li>
		<li class="disabled"><a href="#">Tu viaje</a></li>
		<li><a href="mailto:valeria.san.esteban@gmail.com">Contacto</a></li>
	</ul>
</div>
<script>
	$('.dropdown-toggle').dropdown()
</script>