.allStarSportsResort {
	background-image: url("../images/hotels/allStarSportsResort.png");
	height: 452px;
	background-repeat: no-repeat;
	margin-bottom: 15px;
}
.allStarSportsResort>img {
	max-width: 100%;
}

.allStarMoviesResort {
	background-image: url("../images/hotels/allStarMoviesResort.png");
	height: 561px;
	background-repeat: no-repeat;
	margin-bottom: 15px;
}
.allStarMoviesResort>img {
	max-width: 100%;
}

.allStarMusicResort {
	background-image: url("../images/hotels/allStarMusicResort.png");
	background-repeat: no-repeat;
	margin-bottom: 15px;
	height: 465px;
}

.allStarMusicResort>img {
	max-width: 100%;
}

.descriptionText {
	background-color: white;
	padding-top: 20px;
	padding-left: 45px;
	padding-right: 45px;
}

@media only screen and (max-width: 720px) {

	.descriptionText a>img,
	.descriptionText .tr-caption {
		display: none;
	}

}