<% include ../component/head %>

<div>
	<%	
		for(var i=0; i < categories.length; i++) { 
			var categoryHotels = categoriesHotels[categories[i].id]
			if( categoryHotels ) {
	%>
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title"><%= categories[i].name %></h3>
		</div>
		<ul class="list-group">
			<%	for(var j=0; j < categoryHotels.length; j++) { %>
				<li class="list-group-item">
					<a href="<%= categoryHotels[j].url %>"><%= categoryHotels[j].name %></a>
				</li>
			<% 	} %>
		</ul>
	</div>
	<% 
			}
		} 
	%>
</div>

<% include ../component/footer %>