<% include ../component/head %>

<div class="container">
	<div class="col-md-10">
		<ul>
			<% for(var i=0; i<hotels.length; i++) { %>
				<li>
					<a href="/hotel/<%= hotels[i].id %>"><%= hotels[i].name %></a>
				</li>
			<% } %>
		</ul>
	</div>
</div>

<% include ../component/footer %>