<% include ../component/head %>

<div class="description col-md-offset-2 col-md-10">
	<div class="<%= hotel.id %>Description descriptionText">
		<%- hotel.html %>
	</div>
</div>

<% include ../component/footer %>