<% include ../component/head %>
<link rel='stylesheet' href='/stylesheets/hotels.css' />

<div class="container">
	<div class="col-md-10 description">
		<div class="<%= hotel.id %>Description descriptionText"></div>
	</div>
</div>

<script src="/javascripts/jquery.min.js"></script>
<script>
	$(".<%= hotel.id %>Description").html($('<div/>').html("<%= hotel.text %>").text());
</script>

<% include ../component/footer %>